extends layout

block content
  h1= title
  .container-fluid.h-460p.h-100-xs.bg.s-cover.white-500
    .container
      .row
        .col-lg-5.offset-lg-2.flex
          img(src="/images/favicon.ico", alt=config.site.name)
        .col-lg-5
          .p-9.mh-5.a-black-20.rd-0-5
              h2.green BIENVENIDO 
              h1 Inicie sesión o registrese para usar el sistema

