extends ../layout

block content
  #company.container(data-slug=slug)
    h1.mt-6 Error al recibir el archivo
    .hr.mb-5.mt-2
    .row
      .col-xs-12
        .remark.info
          ul
            li Debe ser una imagen en formato ...