footer.mt-8
  .container-fluid.primary
    .container.ph-3
      .row.justify-content-center
        .col-md-4.tc.mb-3-xs.mb-3-sm.mb-3-md
          .small RecomendationcesParaTi 2021
  .container-fluid.primary-500
    .container.tc.ph-3
      .row
        .col-md-4.mb-3-xs.mb-3-sm.mb-3-md
          .small UNIVERSIDAD DE LOS ANDES
        .col-md-4.mb-3-xs.mb-3-sm.mb-3-md
          .small Luisa Alvarez Valencia
          .small Javier Andres Martínez Ricardo
          .small Adriana Quintero P
        .col-md-4
          .small e-Mail:&nbsp;
            a(href='l.alvarezv1@uniandes.edu.co') l.alvarezv1@uniandes.edu.co
          .small e-Mail:&nbsp;
            a(href='j.martinez35@uniandes.edu.co') j.martinez35@uniandes.edu.co
          .small e-Mail:&nbsp;
            a(href='a.quinterop@uniandes.edu.co') a.quinterop@uniandes.edu.co